@import 'variables';
@import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);
@import 'rating';

*,
*:before,
*:after {
  box-sizing: inherit;
}
html,
body {
  width: 100%;
  min-height: 100%;
}
html {
  box-sizing: border-box;
  color: $primary-color;
  font-family: $primary-font;
  background: #f1f1f1;
}

.center {
  text-align: center;
}

.single-comment {
  margin-top: 20px;
}
